h1 {
	color: #1867b4;
}

canvas {
	padding: 0;
	margin: auto;
	display: block;
	width: 640px;
	height: 480px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}



body {
	display: flex;
	justify-content: center;
	align-items: center;
}